.simple-transition {
    margin: 16px;
    height: 300px;
    width: 200px;
    padding: 1%;
    box-shadow: 5px 5px 5px 5px #470257; 
    border-radius: 10%;
    transition: all 1000ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .simple-transition:hover {
    width: 100%;
    color: white !important;
    background-color: #400a4e;
  }
