.container {
    position: absolute;
    top: 8px;
    left: 16px;
    padding-top: 300px;
  }
.heading{
    color: rgb(189, 132, 47);
    font-family: sans-serif;
}

.d-flex{
    padding-top: 30px;
    width: 500px;
}